.credits {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 4;

  margin: 1em;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2em;

  font-style: italic;
  color: rgba(255, 255, 255, 0.78);
}

.credits > span > a {
  color: rgba(255, 255, 255, 0.78);
}

.credits > span > a:hover {
  color: rgb(255, 51, 218);
}
